@{
    ViewData["Title"] = "Randevu Onay";
}

<h2>Randevunuz Başarıyla Alındı</h2>
<p>Teşekkür ederiz! Randevu bilgileriniz kaydedildi.</p>
<a href="/" class="btn btn-success">Anasayfaya Dön</a>
